<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bai3.css">
    <title>Bài 3</title>
</head>
<body>
    <div class="logo">        
    </div>
    <hr>    
    <div class="sanpham">
        <div class="ten"> Mô hình Goku</div>
        <img src="../img/mohinh1.jpg" alt="">
        <div class="gia">
           <h3> <del>120.000đ</del> 99.000đ</h3>
        </div>
    </div>
    <div class="sanpham">
        <div class="ten"> Mô hình Minato</div>
        <img src="../img/mohinh2.jpg" alt="">
        <div class="gia">
           <h3> <del>220.000đ</del> 119.000đ</h3>
        </div>
    </div>
    <div class="sanpham">
        <div class="ten"> Mô hình Iron Man</div>
        <img src="../img/mohinh3.jpg" alt="">
        <div class="gia">
           <h3> <del>490.000đ</del> 319.000đ</h3>
        </div>
    </div>
    <div class="quaylai">
        <a href="../[index]vietnqph20665_lab2.html">Quay lại trang chủ</a>
    </div>
</body>
</html>